@using WebApplication1.Models
@model Manufacturer
@{
    ViewBag.Title = "Edit";
}

<div>
    @using (Html.BeginForm("Edit", "Manufacturer", FormMethod.Post))
    {
        <p>
            @Html.HiddenFor(x => x.ManufacturerId)
        </p>
        <p>
            @Html.LabelFor(x => x.ManufacturerName)
        </p>
        <p>
            @Html.ValidationMessageFor(x => x.ManufacturerName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.ManufacturerName)
        </p>

        <input type="submit" />
    }
</div>



